<div>
    <h1>Interpolation Data Binding</h1>
    <span>O valor da variável X é: {{x}}</span>
    <br/>
    <span>
      O Array de números é composto pelos seguintes valores: {{umArray}}
    </span>
    <br/>
    <span>A data de Hoje é: {{dataHoje}}</span>
    <br/>
    <span> Status  booleano indicado na variável é {{statusBooleano}}</span>
    <br/>
    <span> {{ statusBooleano? 'Este é o texto para Status True'
            : 'Este é o texto para Status False' }}</span>
    <br/>
    <span>{{exibirTexto()}}</span>
</div>